//html 标记快速生成
mixin a(url ,txt)
    a(href=url) txt



mixin input(id ,name , value ,placeholder)
    input(
        id = id
        name=name
        value=value
        placeholder= placeholder
    )

