doctype transitional
html
    head
        include head.pug
        include html.pug
        link(rel='stylesheet' href='/css/websocket.css')
    body
         include websocket.pug

         #history

         include script.pug

